<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}Contact Us{% endblock %}</title>
    <style>
      .bg-ima {
        background-image: url("static/css/bg_image.png");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body class="h-screen bg-ima">
    <div class="flex h-screen justify-between items-center">
      <div class="text-white font-bold p-4 rounded ml-12">
        <h1 class="text-5xl ml-28 italic">Timeless Glow Ups</h1>
      </div>
      {% block content %}
      <form
        action="{{ url_for('simple_page.contact_form') }}"
        method="post"
        class="flex flex-col w-5/12 mr-12 items-center text-2xl bg-white rounded-xl font-bold text-gray-700"
      >
        <label for="lead_name" class="mt-12">Lead Name:</label>
        <input
          class="text-center placeholder-gray-500 border border-gray-400"
          style="
            border-radius: 3px;
            font-size: 15px;
            width: 65%;
            height: 25px;
            margin-top: 15px;
          "
          type="text"
          id="lead_name"
          placeholder="Your Name here..."
          name="lead_name"
          required
        /><br />
        <label for="phone" class="mb-4">Phone Number:</label>
        <input
          class="text-center placeholder-gray-500 border border-gray-400"
          style="border-radius: 3px; font-size: 15px; width: 65%; height: 25px"
          type="text"
          id="phone"
          name="phone_number"
          placeholder="Your 10 digit mobile number goes here..."
          required
        /><br />
        <label for="service">Service:</label>
        <div
          class="text-base font-medium classtable-row tracking-wide mt-4"
          style="text-align: center; width: 100%"
        >
          <label for="service1" style="width: 25%; display: inline-flex">
            <input
              type="checkbox"
              id="service1"
              name="service"
              value="haircut"
            />Haircut
          </label>
          <label for="service2" style="width: 25%; display: inline-flex"
            ><input
              type="checkbox"
              id="service2"
              name="service"
              value="massage"
            />
            Massage</label
          >
          <label for="service3" style="width: 12%; display: inline-flex"
            ><input
              type="checkbox"
              id="service3"
              name="service"
              value="waxing"
            />
            Waxing</label
          >
          <br />

          <label for="service4" style="width: 25%; display: inline-flex"
            ><input
              type="checkbox"
              id="service4"
              name="service"
              value="conditioning"
            />
            Conditioning</label
          >
          <label for="service5" style="width: 25%; display: inline-flex"
            ><input
              type="checkbox"
              id="service5"
              name="service"
              value="styling"
            />
            Styling</label
          >
          <label for="service6" style="width: 12%; display: inline-flex">
            <input
              type="checkbox"
              id="service6"
              name="service"
              value="tanning"
            />
            Tanning</label
          >
        </div>
        <label for="query" class="mt-4">Query:</label>
        <textarea
          class="text-center placeholder-gray-500 border border-gray-400"
          style="
            border-radius: 3px;
            font-size: 15px;
            width: 65%;
            height: 25px;
            margin-top: 15px;
          "
          id="query"
          name="query"
          placeholder="Raise your query here (keep it short)..."
          required
        ></textarea
        ><br />
        <p
          class="text-red-500"
          style="margin-bottom: 15px; font-size: 16px; font-weight: 700"
        >
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %} {{ message }} {% endfor %} {% endif %} {%
          endwith %}
        </p>
        <button type="submit" class="mb-12 font-bold">Submit</button>
      </form>
      {% endblock %}
    </div>
  </body>
</html>
