{% extends "manager.html" %} {% block title %}Management{% endblock %}
    
{% block content %}
<div class="w-3/4 flex flex-col justify-center items-center h-full" style="gap: 40px;">
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/manager/all_leads/add'"
      style="background-color: rgba(19, 192, 19, 0.849);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;
      font-style: oblique;"
    >
      <!-- <img
        src="/static/add.png"
        alt="add"
        id="image_dashboard"
        style="width: 200%; cursor: pointer"
      /> -->
      Add
    </button>
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/manager/all_leads/update'"
      style="background-color: rgba(207, 183, 23, 0.849);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;
      font-style: oblique;"
    >
      <!-- <img
        src="/static/update.png"
        alt="update"
        id="image_dashboard"
        style="width: 200%; cursor: pointer"
      /> -->
    Update
    </button>
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/manager/all_leads/delete'"
      style="background-color: rgba(221, 35, 35, 0.849);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;
      font-style: oblique;"
    >
      <!-- <img
        src="/static/delete.png"
        alt="delete"
        id="image_dashboard"
        style="width: 200%; cursor: pointer"
      /> -->
      Delete
    </button>
    {%endblock%}
</body>
</html>