{% extends "admin_page.html" %} {% block title %}Management{% endblock %}
    
{% block content %}
<style>
  #buttons_for_dashboard{
    opacity: 0.89;
  }
  #buttons_for_dashboard:hover{
    opacity: 1;
    font-style: oblique;
  }
</style>
<div class="w-3/4 flex flex-col justify-center items-center h-full" style="gap: 40px;">
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/admin/add'"
      style="background-color: rgba(31, 211, 31, 0.888);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;"
    >
      Add
    </button>
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/admin/update'"
      style="background-color: rgba(222, 197, 34, 0.897);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;"
    >
    Update
    </button>
    <button
      id="buttons_for_dashboard"
      onclick="window.location.href='/admin/delete'"
      style="background-color: rgba(234, 40, 40, 0.884);
      width: 15%;
      font-size: 20px;
      border-radius: 10px;"
    >
      Delete
    </button>
    <div style="font-size: 19px;
    line-height: 1.25rem;
    color: rgb(89 255 0);
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-variant: all-petite-caps;
    text-decoration: underline;">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
    </div>
    {%endblock%}
</body>
</html>