<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}Home{% endblock %}</title>
    <style>
      .bg-ima {
        /* background-image: url("static/css/image.png"); */
        background-image: url("static/css/bg_image.png");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  {% block body %}
  <body class="h-screen bg-ima">
    <div class="flex h-screen justify-between items-center">
      <!-- Left side text -->
      <div class="text-white font-bold p-4 rounded ml-12">
        <h1 class="text-5xl ml-28 italic">Timeless Glow Ups</h1>
      </div>
      <!-- Right side buttons -->
      <div
        class="mr-32 text-2xl gap-8 flex flex-col justify-center items-center bg-white shadow-md box-border border-solid rounded-xl mx-2 p-28"
      >
        <button
          onclick="window.location.href='/signup'"
          class="text-gray-700 font-bold py-2 px-4 rounded mb-4"
        >
          Signup
        </button>
        <button
          onclick="window.location.href='/login'"
          class="text-gray-700 font-bold py-2 px-4 rounded mb-4"
        >
          Login
        </button>
        <button
          onclick="window.location.href='/contact_us'"
          class="text-gray-700 font-bold py-2 px-4 rounded"
        >
          Contact Us
        </button>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
