<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <style>
      #dashboard_button,
      #all_button {
        opacity: 0.8;
        font-variant-caps: all-petite-caps;
      }
      #dashboard_button:hover,
      #all_button:hover {
        opacity: 1;
        font-variant: small-caps;
      }
      #logout {
        opacity: 0.8;
        transition: transform 1s;
      }
      #logout_button:hover {
        opacity: 1;
        transform: scale(1.12);
      }
    </style>
    <title>{% block title %}Manager{% endblock %}</title>
  </head>
  <body>
    <div class="flex h-screen">
      <div
        class="w-1/4 items-stretch p-20 flex flex-col space-y-4"
        style="background-image: linear-gradient(46deg, #0d00ff, #a53131)"
      >
        {% block button %}
        <button
          id="dashboard_button"
          type="submit"
          onclick="window.location.href='/login/manager'"
          class="text-white"
          style="
            background-color: #ef9f09;
            width: 120%;
            margin-left: -40px;
            font-size: 20px;
            border-radius: 3px;
          "
        >
          Dashboard
        </button>
        {% endblock %}
        <button
          type="submit"
          id="all_button"
          onclick="window.location.href='/manager/all_leads'"
          class="text-white"
          style="
            background-color: #ef9f09;
            width: 120%;
            border-radius: 3px;
            margin-left: -40px;
            font-size: 20px;
          "
        >
          All
        </button>
        <button
          id="logout_button"
          type="button"
          onclick="window.location.href='/logout'"
          style="
            background-color: darkgray;
            border-radius: 3px;
            width: 120%;
            font-variant: all-petite-caps;
            margin-left: -40px;
            font-size: 20px;
            margin-top: 500px;
          "
        >
          Logout
        </button>
      </div>
      {% block content %}
      <table
        style="
          box-sizing: border-box;
          height: 54%;
          font-size: 20px;
          margin-left: 20%;
          width: 30%;
          margin-top: 12%;
          font-style: italic;
          font-variant: petite-caps;
        "
      >
        <tr>
          <td>Total Leads</td>
          <td>{{ total_users }}</td>
        </tr>
        <tr>
          <td>Pending Leads</td>
          <td>{{ pending_leads }}</td>
        </tr>
        <tr>
          <td>Call Done</td>
          <td>{{ call_done_leads }}</td>
        </tr>
        <tr>
          <td>Waiting Leads</td>
          <td>{{ waiting_leads }}</td>
        </tr>
        <tr>
          <td>Scheduled Leads</td>
          <td>{{ scheduled_leads }}</td>
        </tr>
        <tr>
          <td>Converted Leads</td>
          <td>{{ converted_leads }}</td>
        </tr>
        <tr>
          <td>Declined Leads</td>
          <td>{{ declined_leads }}</td>
        </tr>
      </table>
      <button
        id="all_queries"
        type="button"
        onclick="window.location.href='/login/manager/all_queries'"
        style="
          background-color: rgb(143, 193, 193);
          border-radius: 3px;
          font-variant: all-petite-caps;
          font-size: 20px;
          height: 5%;
          position: relative;
          margin-top: 620px;
          margin-left: -250px;
          display: flex;
          flex-direction: row;
          width: auto;
        "
      >
        All Queries
      </button>
      {% endblock %}
    </div>
  </body>
</html>
