{% extends "manager.html" %} {% block title %}Management{% endblock %}
{% block content %}
{% block form%}
<style>
#form_hover_update:hover {
box-shadow: 0px 0px 20px rgb(138, 138, 138);
}
#update_submit {
  opacity: 0.8;
  transition: transform 1s;
}
#update_submit:hover {
  opacity: 1;
  transform: scale(1.12);
}
</style>
<form action="/manager/all_leads/update" id="form_hover_update" method="post" class="flex flex-col w-3/4 items-center self-center h-auto" 
style="width: 40%;
font-size: 1.25rem;
line-height: 1.75rem;
align-self: center;
background-color: rgba(110, 141, 132, 0.507);
margin-left: 10rem;
color: rgb(55 65 81);
border-radius: 24px;
box-sizing: border-box;
border: solid;
border-color: rgba(43, 43, 43, 0.664);
gap: 10px;">
{%endblock%}
{% block name %}
{% endblock %}
    <label for="phone_number" style="margin-top: 10%;">Enter Lead's Phone Number</label>
    <input type="text" id="phone_number" placeholder="..." style="
    border-radius: 3px;
    font-size: 15px;
    width: 65%;
    height: 25px;
    margin-top: 15px;
    text-align: center;
"
    name="phone_number" />
<br />
    <label for="service" style="
    margin-bottom: 16px;
">Service:</label>
    <div
    class="font-medium classtable-row tracking-wide mt-4"
    style="font-size: 1rem; text-align: center; width: 100%"
  >
    <label for="service1" style="width: 25%; display: inline-flex">
      <input
        type="checkbox"
        id="service1"
        name="service"
        value="haircut"
      />Haircut
    </label>
    <label for="service2" style="width: 25%; display: inline-flex"
      ><input
        type="checkbox"
        id="service2"
        name="service"
        value="massage"
      /> Massage</label
    >
    <label for="service3" style="width: 12%; display: inline-flex"
      ><input
        type="checkbox"
        id="service3"
        name="service"
        value="waxing"
      />
      Waxing</label
    >
    <br />

    <label for="service4" style="width: 25%; display: inline-flex"
      ><input
        type="checkbox"
        id="service4"
        name="service"
        value="conditioning"
      />
      Conditioning</label
    >
    <label for="service5" style="width: 25%; display: inline-flex"
      ><input
        type="checkbox"
        id="service5"
        name="service"
        value="styling"
      />
      Styling</label
    >
    <label for="service6" style="width: 12%; display: inline-flex">
      <input
        type="checkbox"
        id="service6"
        name="service"
        value="tanning"
      />
      Tanning</label
    >
  </div>
    <label for="query" style="
    margin-top: 16px;
">Query:</label>
    <textarea type="text" id="query" placeholder="Query..." style="
    border-radius: 3px;
    font-size: 15px;
    width: 65%;
    height: 25px;
    margin-top: 15px;
    text-align: center;
"
    name="query"></textarea><br />
    {% block status %}
    <label for="status" style="
    margin-bottom: 16px;
">Status:</label>
    <div class="text-base font-medium classtable-row tracking-wide" style="
    text-align: center;
    width: 100%;
    font-size: 1rem;
">
        <label style="
        width: 25%;
        display: inline-flex;
    " for="status1"><input type="radio" id="status1" name="status" value="pending" /> Pending</label>
        <label style="
        width: 25%;
        display: inline-flex;
    " for="status2"><input type="radio" id="status2" name="status" value="call_done" /> Call Done</label>
        <label style="
        width: 12%;
        display: inline-flex;
    " for="status3"><input type="radio" id="status3" name="status" value="waiting" /> Waiting</label>
        <br />
        <label style="
        width: 25%;
        display: inline-flex;
    " for="status4"><input
          type="radio"
          id="status4"
          name="status"
          value="scheduled"
        /> Scheduled</label>
        <label style="
        width: 25%;
        display: inline-flex;
    " for="status5"><input type="radio" id="status5" name="status" value="converted" />
           Converted</label>
        <label style="
        width: 12%;
        display: inline-flex;
    " for="status6"><input type="radio" id="status6" name="status" value="declined" />
           Declined</label>
      </div>
      {% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p style="color: #DC2626;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;">{{ message }}</p>
  {% endfor %}
{% endif %}
{% endwith %}
      {% endblock %}
    <button type="submit" id="update_submit" style="margin-bottom: 16px;
    margin-top: 5%;
    background-color: cornflowerblue;
    width: 20%;
    font-size: 18px;
    color: cornsilk;">Submit</button>

<!-- <p id="flash_msg_signup">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for
  message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
</p> -->
</form>
{%endblock%}
</body>
</html>