<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <title>{% block title %}Manager{% endblock %}</title>
  </head>
  <body>
    <div class="flex h-screen">
      {% block sidebar %}
      <div class="w-1/4 bg-blue-500 items-stretch p-20 flex flex-col space-y-4">
        <button type="submit" class="text-white">Dashboard</button>
        <button type="submit" class="text-white">All</button>
      </div>
      {% endblock %}
      <div class="w-3/4 flex flex-col justify-center items-center">
        <span class="text-xl">Total Leads: {{ total_users }}</span>
        <span class="text-xl">Converted Leads: {{ converted_leads }}</span>
        <span class="text-xl">Declined Leads: {{ declined_leads }}</span>
      </div>
    </div>
  </body>
</html>
